@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
	color: #222;
	line-height: 1.5;
}

a {
	color: #5a5;
}

a:focus, a:hover {
	color: #393;
	text-decoration: none;
}

p {
	margin: 0 0 15px;
}

h1, h2 {
	position: relative;
	font-family: Oswald;
	text-transform: uppercase;
}

h1 {
	color: #fff;
	margin: 80px 0 30px;
	padding: 0 0 10px;
	font-size: 60px;
	font-weight: 400;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #5c5;
}

h2 {
	color: #222;
	margin: 20px 0 30px;
	font-size: 38px;
}

article {
	background-color: #140;
}

header {
	padding-top: 20px;
	padding-bottom: 0;
	background-color: #333;
	color: #fff;
	font-size: 24px;
}

header a {
	color: #5c5;
	font-size: 18px;
}

header .btn-primary {
	background-color: #5a5;
	border-color: #393;
	color: #fff;
}

header .btn-primary:focus, header .btn-primary:hover {
	background-color: #393;
	border-color: #393;
}

section {
	padding: 60px 0 100px;
	position: relative;
}

section:nth-of-type(even) {
	background-color: #fff;
}

section:nth-of-type(odd) {
	background-color: #eee;
}

section:last-child {
	padding-bottom: 150px;
}

footer {
	width: 100%;
	height: 60px;
	font-size: 14px;
}

footer .container {
	padding: 15px;
	background-color: #fff;
}

footer .container p {
	color: #333;
}

footer .container p a {
	color: #666;
}

@media print {
	h1 {
		margin-top: 20px;
	}

	h2 {
		font-size: 200%;
		margin: 20px 0;
	}

	p {
		padding: 0;
	}

	section {
		padding: 0;
	}
	
	section:last-child {
		padding-bottom: 0;
	}

	.img-responsive {
		width: 180px;
	}
	
	.text-center {
		text-align: left;
	}
}