@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Oswald');

html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
	color: #222;
	line-height: 1.5;
}

h1, h2 {
	position: relative;
	font-family: Oswald;
	text-transform: uppercase;
}

h1 {
	color: #fff;
	margin: 50px 0;
	padding: 60px 0 10px;
	font-size: 80px;
	font-weight: 400;
	border-bottom-width: 12px;
	border-bottom-style: solid;
	border-bottom-color: #0ff;
}

h2 {
	color: #222;
	margin: 20px 0 30px;
	font-size: 40px;
}

p {
	margin: 0 0 15px;
}

a {
	color: #222;
}

a:focus, a:hover {
	color: #666;
}

header {
	background-image: url(../img/banner.png);
	background-position: center center;
	background-size: cover;
	padding: 10px 200px;
	text-align: center;
}

header a {
	color: #0ff;
  font-size: 60px;
}

header a:focus, header a:hover {
	color: #aff;
}

section {
	padding: 60px 0 80px;
}

section:nth-of-type(even) {
	background-color: #fff;
}

section:nth-of-type(odd) {
	background-color: #eee;
}

section:last-child {
	padding-bottom: 100px;
}

footer {
	width: 100%;
	height: 60px;
	font-size: 14px;
	text-align: center;
}

footer .container {
	padding: 15px;
	background-color: #fff;
}

footer .container p {
	color: #333;
}

footer .container p a {
	color: #333;
}

@media print {
	h1 {
		margin-top: 20px;
	}

	h2 {
		font-size: 200%;
		margin: 20px 0;
	}

	p {
		padding: 0;
	}

	section {
		padding: 0;
	}

	section:last-child {
		padding-bottom: 0;
	}

	.img-fluid {
		width: 180px;
	}

	.text-center {
		text-align: left;
	}
}
