ErrorDocument 404 https://simsab.net

RewriteEngine on

RewriteCond %{HTTP_HOST} simsab\.de$ [NC]
RewriteRule ^(.*)$ https://simsab.net [R=301,L]

Redirect permanent /de https://simsab.net
Redirect permanent /en https://simsab.net
Redirect permanent /impressum https://simsab.net/#legal-notice
Redirect permanent /disclaimer https://simsab.net/#legal-notice
