html {
	background-color: #193319;
	color: #fff;
}

a, em, strong {
	color: #bea;
}

#menu .item a, #body .title a {
	color: #bea;
	text-shadow: 0 2px 0 #000;
}

#menu .item .active {
	color: #ffa;
}

#body .title {
	color: #bea;
}

#body .sub-line {
	color: #cdc;
}

#body .projects .tag .inactive {
	color: #cdc;
}

#body .projects .tag .active {
	color: #ffa;
}