@import 'screen.css';

html {
	background-color: transparent;
}

#document, #content {
	padding: 0;
	width: auto;
}

#menu, #content {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-khtml-border-radius-topleft: 0;
	-khtml-border-radius-bottomleft: 0;
	-khtml-border-radius-topright: 0;
	-khtml-border-radius-bottomright: 0;
	-webkit-border-radius-topleft: 0;
	-webkit-border-radius-bottomleft: 0;
	-webkit-border-radius-topright: 0;
	-webkit-border-radius-bottomright: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#menu {
	top: 82px;
	width: 140px;
}

#content {
	border: 0 none;
	margin: 0 0 0 140px;
}

#head {
	margin-left: -140px;
}

#logo {
	height: 30px;
	padding: 0 0 0 15px;
	width: 242px;
}

#photo {
	height: 110px;
	right: 0;
	top: 0;
	width: 96px;
}

#body {
	padding: 48px 0 48px 20px;
	text-align: left;
	width: auto;
}

#body .sub-section {
	float: none;
	width: auto !important;
}

#body .projects .item, #body .career .item, #body .projects .description, #body .career .description {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .projects .description, #body .career .description {
	margin-left: 20px;
}