@import 'screen.css';

#document {
	padding: 0 20px;
	width: auto;
}

#header {
	height: auto;
}

#logo {
	height: 30px;
	margin: 20px 0 0;
	width: 243px;
}

#sidebar {
	position: relative;
	top: 0;
	width: auto;
}

#menu {
	display: block;
	padding: 10px 0 20px;
	height: auto;
	width: auto;
}

#menu .item {
	display: inline;
	padding: 0 10px 0 0;
	text-align: left;
}

#body {
	padding: 0 0 80px 0;
}

#body .title a {
	font-size: 150%;
	height: auto;
	line-height: inherit;
}

#body .about-me .picture {
	height: 122px;
	margin: 9px 0 0 20px;
	width: 107px;
}

#body .qualities .bullet {
	padding-right: 0;
}

#body .projects .tags .tag {
	margin-right: 10px;
}

#body .career .item, #body .career .description, #body .projects .item, #body .projects .description {
	clear: none;
	float: none;
	width: auto;
}

#body .career .item, #body .projects .item {
	padding-bottom: 0;
}

#body .career .description, #body .projects .description {
	margin-left: 20px;
	padding-bottom: 10px;
}

#body .contact-me .option {
	display: block;
}

#footer {
	padding: 0 20px;
	width: auto;
}

#footer a {
	margin-left: 10px;
}