html, body {
	height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 2.0;
}

a, em {
	text-decoration: none;
	white-space: nowrap;
}

li {
	list-style: none;
}

#document {
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	width: 860px;
}

body > #document {
	height: auto;
	min-height: 100%;
}

#header, #footer {
	position: relative;
}

#header {
	height: 100px;
}

#logo {
	height: 45px;
	margin: 20px 0;
	width: 364px;
}

#sidebar {
	position: fixed;
	top: 200px;
	width: 150px;
}

#menu {
	padding: 0 75px 0 0;
}

#menu .item {
	display: block;
	padding: 0 0 10px;
	text-align: right;
}

#body {
	padding: 0 0 100px 150px;
}

#body .title {
	font-size: 100%;
}

#body .title a {
	font-size: 250%;
	height: 100px;
	line-height: 100px;
}

#body .about-me .picture {
	float: right;
	height: 162px;
	margin: 9px 0 30px 30px;
	width: 142px;
}

#body .projects .tags .tag, #body .contact-me .option {
	display: inline;
	margin: 0 30px 0 0;
}

#body .about-me .paragraph, #body .qualities .bullet, #body .projects .tags, #body .s .item, #body .projects .description {
	padding-bottom: 12px;
}

#body .qualities .bullet, #body .projects .tags, #body .projects .item, #body .projects .description {
	padding-bottom: 10px;
}

#body .qualities .bullet {
	padding-right: 250px;
}

#body .career .item, #body .career .description, #body .contact-me .options {
	padding-bottom: 15px;
}

#body .projects .item, #body .projects .description, #body .career .item, #body .career .description {
	float: left;
}

#body .projects .item , #body .career .item {
	clear: left;
	width: 150px;
}

#body .projects .description, #body .career .description {
	margin-left: 0;
	width: 560px;
}

#body .sub-line {
    display: block;
    font-size: 75%;
}

#body .no-wrap {
    white-space: nowrap;
}

#footer {
	clear: both;
	height: 50px;
	margin: -50px auto 0;
	padding: 0 0 0 200px;
	width: 760px;
}

#footer a {
	margin-left: 30px;
}