body {
	font-size: 14px;
}

li {
	margin-left: 15px;
}

a.collapse, a.expand, a.external {
	padding-right: 14px;
}

#document {
	margin: auto;
	position: relative;
	width: 960px;
}

#menu {
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	-khtml-border-radius-topleft: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 15px 0;
	position: fixed;
	top: 96px;
	width: 160px;
}

#menu .item {
	height: 20px;
	line-height: 2;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 20px 8px 0;
}

#menu .item a {
	display: block;
	height: 20px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	white-space: nowrap;
}

#menu .language a {
	font-weight: normal;
}

#content {
	-moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
    -khtml-border-radius-bottomright: 15px;
	-webkit-border-radius-bottomleft: 15px;
    -webkit-border-radius-bottomright: 15px;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	margin: 0 0 30px 160px;
	width: 800px;
}

#head {
	margin: 0;
	position: relative;
}

#logo {
	height: 45px;
	padding: 20px 47px 26px;
	width: 364px;
}

#body {
	clear: both;
	line-height: 2.0;
	padding: 0 67px 47px 47px;
	text-align: justify;
}

#body h2 {
	padding-top: 15px;
}

#body h2 a {
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#body a, #body em {
	white-space: nowrap;
}

#body .section {
	padding-bottom: 26px;
}

#body .section .clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#body .about-me #photo {
	height: 150px;
	float: right;
	margin: 9px 0 30px 30px;
	width: 132px;
}

#body .projects span {
	white-space: nowrap;
}

#body .projects .tags .tag, #body .contact-me .option {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0 30px 0 0;
}

#body .contact-me .wide {
	width: 214px;
}

#body .projects .item, #body .projects .description {
	padding-bottom: 10px;
}

#body .projects .item, #body .projects .description, #body .career .item, #body .career .description {
	float: left;
}

#body .projects .item , #body .career .item{
	clear: left;
	width: 150px;
}

#body .projects .description, #body .career .description {
	margin-left: 0;
	width: 536px;
}

#body .projects .item .sub-line, #body .career .item .sub-line {
    display: block;
    font-size: 85%;
}

#body .projects .tags, #body .career .item, #body .career .description, #body .contact-me .options {
	padding-bottom: 15px;
}

#foot {
	padding: 0 0 28px;
	text-align: center;
}

#foot a {
	margin-left: 26px;
}
