@import 'screen.css';

#document {
	width: auto;
}

#sidebar, #magnifier, #foot {
	display: none;
}

#head {
	padding-top: 0;
	width: 100%;
}

#menu, #content {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-khtml-border-radius-topleft: 0;
	-khtml-border-radius-bottomleft: 0;
	-khtml-border-radius-topright: 0;
	-khtml-border-radius-bottomright: 0;
	-webkit-border-radius-topleft: 0;
	-webkit-border-radius-bottomleft: 0;
	-webkit-border-radius-topright: 0;
	-webkit-border-radius-bottomright: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#content {
	border: 0 none;
	margin-left: 0;
}

#logo {
	height: 30px;
	padding: 0 0 31px 27px;
	top: 0;
	width: 242px;
}

#photo {
	top: 0;
}

#body {
	border: 0 none;
	text-align: left;
	width: auto;
}

#body a.external {
	background-image: none;
	padding-right: 0;
}

#body a.external:after {
	content: " <"attr(href)">";
}

#body .sub-section {
	float: none;
	width: auto !important;
}

#body .section .frameworks {
	padding-top: 26px;
}

#body .projects, #body .work-experience {
	text-align: left;
}

#body .projects .item, #body .work-experience .item {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .projects .description, #body .work-experience .description {
	margin-left: 20px;
}

#body .contact-me li {
	float: none;
	display: block;
}