@import 'screen.css';

* {
	background-color: transparent !important;
	background-image: none !important;
	border-color: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
}

#document {
	padding: 0;
	width: auto;
}

#header {
	height: auto;
}

#logo {
	content: url(../img/logo-print.png);
	margin: 0;
}

#sidebar {
	display: none;
}

#body {
	padding: 0;
}

#body .section {
	display: block !important;
	padding-top: 40px;
}

#body .title a {
	font-size: 100%;
	font-weight: 700;
	height: auto;
	line-height: normal;
	padding-bottom: 20px;
}

#body .collapse, #body .expand, #body .external {
	padding-right: 0;
}

#body .external:after {
	content: " <"attr(href)">";
}

#body .bullet {
	list-style-image: none;
	list-style-type: initial;
	padding-right: 0;
}

#body .details {
	display: none !important;
}

#body .separated {
	display: block;
}

#body .separated:before {
	content: none;
	margin-right: 0;
}

#body .section .items .description .expandable {
	display: block !important;
}

#body .about-me .paragraph, #body .qualities .bullet, #body .career .item, #body .career .description, #body .projects .tags, #body .projects .item, #body .projects .description {
	padding-bottom: 0;
}

#body .career .item, #body .career .description, #body .projects .item, #body .projects .description {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .career .description, #body .projects .description {
	margin-left: 14px;
}

#body .projects .tags {
	display: none;
}

#body .contact-me .option {
	display: block;
}

#footer {
	display: none;
}