@import 'screen.css';

* {
	background-color: transparent !important;
	background-image: none !important;
	border-color: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
}

#document {
	padding: 0;
	width: auto;
}

#header {
	height: auto;
}

#sidebar, #footer {
	display: none;
}

#logo {
	content: url('../img/logo-print.png');
	margin: 0;
}

#body {
	padding: 0;
}

#body li.bullet {
	list-style-image: none;
	list-style-type: initial;
}

#body a.details {
	display: none !important;
}

#body a.collapse, #body a.expand, #body a.external {
	padding-right: 0;
}

#body a.external:after {
	content: " <"attr(href)">";
}

#body a.separated {
	display: block;
}

#body a.separated:before {
	content: none;
	margin-right: 0;
}

#body .title a {
	font-size: 100%;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding-bottom: 20px;
}

#body .section {
	padding-top: 40px;
}

#body .section, #body .section .items .description .expandable {
	display: block !important;
}

#body .about-me .paragraph, #body .qualities .bullet, #body .career .item, #body .career .description,
#body .projects .tags, #body .projects .item, #body .projects .description {
	padding-bottom: 0;
}

#body .qualities .bullet {
	padding-right: 0;
}

#body .projects .tags {
	display: none;
}

#body .career .item, #body .career .description, #body .projects .item, #body .projects .description {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .career .description, #body .projects .description {
	margin-left: 14px;
}

#body .contact-me .option {
	display: block;
}