#menu .item a {
	color: #fff;
}

#head, #content {
	background-color: #fff;
}

html {
	background-color: #eee;
}

#body h2, #body h3 {
	text-shadow: 0 1px 0 #ddd;
}

#menu .item a:hover, #menu .language a {
	color: #dec;
}

abbr, acronym {
	border-color: #ccc;
}

#menu, #content {
	-moz-box-shadow: 0 0 1px #bbb;
	-webkit-box-shadow: 0 0 1px #bbb;
	box-shadow: 0 0 1px #bbb;
}

#body .projects .item .sub-line, #body .career .item .sub-line, #copyright, #copyright a {
	color: #999;
}

#body .projects .tag .inactive {
	color: #999;
}

#body .projects .tag .active {
	color: #390;
}

#menu .item a {
	text-shadow: 0 1px 0 #592;
}

#menu {
	background-color: #5b2;
}

#body h2, #body h3, #body a, #body em, #body strong {
	color: #5b2;
}

#menu .item .active {
	color: #ff0;
}