#menu .item a {
	color: #fff;
}

#head, #content {
	background-color: #fff;
}

html {
	background-color: #eee;
}

#menu .item a:hover {
	color: #dec;
}

abbr, acronym {
	border-color: #bbb;
}

#menu, #content {
	-moz-box-shadow: 0 0 1px #bbb;
	-webkit-box-shadow: 0 0 1px #bbb;
	box-shadow: 0 0 1px #bbb;
}

#body .career .item .sub-line, #foot, #foot a {
	color: #999;
}

#body .projects .tag .inactive {
	color: #999;
}

#body .projects .tag .active {
	color: #5b2;
}

#menu {
	background-color: #5b2;
}

#body h2, #body h3, #body a, #body em, #body strong {
	color: #5b2;
}

#menu .item a {
	text-shadow: 0 1px 0 #592;
}

#menu .item .active {
	color: #ff0;
}