html {
	background-image: url('../img/page.png');
	background-repeat: repeat-x;
}

#body li.bullet {
	list-style-image: url('../img/list-item.png');
	margin-left: 14px;
}

#body a.collapse {
	background: url('../img/collapse.png') no-repeat right center;
	padding-right: 14px;
}

#body a.expand {
	background: url('../img/expand.png') no-repeat right center;
	padding-right: 14px;
}

#body a.external {
	background: url('../img/external.png') no-repeat right center;
	padding-right: 14px;
}

#body a.separated:before {
	content: url('../img/separator.png');
	margin-right: 4px;
}