li {
	margin-left: 15px;
}

a.collapse, a.expand, a.external {
	padding-right: 14px;
}

#document {
	margin: auto;
	position: relative;
	width: 860px;
}

#menu {
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	-khtml-border-radius-topleft: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px 0;
	position: fixed;
	top: 169px;
	width: 160px;
}

#menu .item {
	height: 18px;
	line-height: 2;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 20px 8px 0;
}

#menu .item a {
	display: block;
	height: 18px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	white-space: nowrap;
}

#menu .language a {
	font-weight: normal;
}

#content {
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 30px 0 30px 160px;
	width: 698px;
}

#head {
	margin-left: 0px;
	position: relative;
}

#magnifier {
	height: 16px;
	position: absolute;
	right: 127px;
	top: 118px;
	width: 16px;
}

#photo, #large-photo {
	position: absolute;
	right: 25px;
	top: 0;
}

#photo {
	height: 138px;
	width: 121px;
}

#large-photo {
	border-bottom: 15px solid;
	border-left: 15px solid;
	display: none;
	height: 270px;
	width: 270px;
}

#logo {
	height: 61px;
	padding: 26px 0 0 27px;
	width: 493px;
}

#body {
	clear: both;
	line-height: 2.0;
	padding: 47px 26px;
	text-align: justify;
}

#body h2 {
	padding-top: 10px;
}

#body h2 a {
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#body a, #body em {
	white-space: nowrap;
}

#body .section {
	padding-bottom: 26px;
}

#body .section .clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#body .sub-section {
	overflow: hidden;
	width: 323px;
}

#body .skills span, #body .projects span {
	white-space: nowrap;
}

#body .skills .frameworks, #body .projects .sub-section, #body .projects .sub-section {
	padding-top: 10px;
}

#body .programming li, #body .frameworks li, #body .contact-me li {
	display: inline;
	float: left;
	list-style-type: none;
	margin-left: 0;
	width: 107px;
}

#body .programming li.wide, #body .frameworks li.wide, #body .contact-me li.wide {
	width: 214px;
}

#body .projects .item, #body .projects .description {
	padding-bottom: 10px;
}

#body .projects .item, #body .projects .description, #body .career .item, #body .career .description {
	float: left;
}

#body .projects .item , #body .career .item{
	clear: left;
	width: 150px;
}

#body .projects .description, #body .career .description {
	margin-left: 0;
	width: 496px;
}

#body .projects .item .sub-line, #body .career .item .sub-line {
    display: block;
    font-size: 85%;
}

#body .career .item, #body .career .description {
	padding-bottom: 15px;
}

#body .contact-me .options {
	padding-bottom: 15px;
}

#copyright {
	padding: 0 0 28px;
	text-align: center;
}

#copyright a {
	margin-left: 26px;
}
