@import 'screen.css';

html {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	color: #000;
}

h2 {
	text-shadow: none;
}

h2, a, em, strong {
	color: #000;
}

abbr {
	border-color: transparent;
}

#document {
	width: auto;
}

#sidebar, #footer {
	display: none;
}

#logo {
	margin: 0;
}

#body {
	padding: 0;
}

#body a.external {
	background-image: none;
	padding-right: 0;
}

#body a.external:after {
	content: " <"attr(href)">";
}

#body .title a {
	font-size: 100%;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding-bottom: 20px;
}

#body .section {
	padding-bottom: 40px;
}

#body .section, #body .section .items .description .expandable {
	display: block !important;
}

#body .about-me .paragraph, #body .qualities .bullet, #body .projects .tags, #body .projects .item,
#body .projects .description, #body .career .item, #body .career .description {
	padding-bottom: 0;
}

#body .qualities .bullet {
	padding-right: 0;
}

#body .projects .tags {
	display: none;
}

#body .projects .item, #body .projects .description, #body .career .item, #body .career .description {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .projects .description, #body .career .description {
	margin-left: 40px;
}

#body .contact-me .option {
	float: none;
	display: block;
}