@import 'screen.css';

#document {
	width: auto;
}

#sidebar, #magnifier, #foot {
	display: none;
}

#head {
	padding-top: 0;
	width: 100%;
}

#content {
	border: 0 none;
	margin-left: 0;
}

#logo {
	height: 30px;
	padding: 0 0 31px 27px;
	top: 0;
	width: 242px;
}

#photo {
	top: 0;
}

#body {
	border: 0 none;
	text-align: left;
	width: auto;
}

#body a.external {
	background-image: none;
	padding-right: 0;
}

#body a.external:after {
	content: " <"attr(href)">";
}

#body .sub-section {
	float: none;
	width: auto !important;
}

#body .section .frameworks {
	padding-top: 26px;
}

#body .projects, #body .work-experience {
	text-align: left;
}

#body .projects .item, #body .work-experience .item {
	clear: none;
	float: none;
	padding-bottom: 0;
	width: auto;
}

#body .projects .description, #body .work-experience .description {
	margin-left: 20px;
}

#body .contact-me li {
	float: none;
	display: block;
}