@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

html {
	background-color: #193319;
	background-image: url(../img/page.png);
	background-repeat: repeat-x;
	color: #fff;
	height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 2.0;
}

a {
	text-decoration: none;
}

a, em, strong {
	color: #bea;
	white-space: nowrap;
}

li {
	list-style: none;
}

#document {
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	width: 860px;
}

body > #document {
	height: auto;
	min-height: 100%;
}

#header {
	height: 100px;
	position: relative;
}

#logo {
	height: 45px;
	margin: 20px 0;
	width: 364px;
}

#sidebar {
	position: fixed;
	top: 200px;
	width: 150px;
}

#sidebar .menu {
	padding: 0 75px 0 0;
}

#sidebar .menu .item {
	display: block;
	padding: 0 0 10px;
	text-align: right;
}

#sidebar .menu .item a {
	color: #bea;
	text-shadow: 0 2px 0 #000;
}

#sidebar .menu .item .active {
	color: #ffa;
}

#body {
	padding: 0 0 100px 150px;
}

#body .title {
	color: #bea;
	font-size: 100%;
}

#body .title a {
	color: #bea;
	font-size: 250%;
	height: 100px;
	line-height: 100px;
	text-shadow: 0 2px 0 #000;
}

#body .external {
	background: url(../img/external.png) no-repeat right center;
	padding-right: 14px;
}

#body .bullet {
	list-style-image: url(../img/list-item.png);
	margin-left: 14px;
}

#body .collapse {
	background: url(../img/collapse.png) no-repeat right center;
	padding-right: 14px;
}

#body .expand {
	background: url(../img/expand.png) no-repeat right center;
	padding-right: 14px;
}

#body .separated:before {
	content: url('../img/separator.png');
	margin-right: 4px;
}

#body .sub-line {
	color: #cdc;
	display: block;
	font-size: 75%;
}

#body .no-wrap {
	white-space: nowrap;
}

#body .clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#body .about-me .picture {
	float: right;
	height: 162px;
	margin: 9px 0 30px 30px;
	width: 142px;
}

#body .about-me .paragraph, #body .qualities .bullet, #body .projects .tags {
	padding-bottom: 12px;
}

#body .qualities .bullet, #body .projects .tags, #body .projects .item, #body .projects .description {
	padding-bottom: 10px;
}

#body .qualities .bullet {
	padding-right: 250px;
}

#body .career .item, #body .career .description, #body .contact-me .options {
	padding-bottom: 15px;
}

#body .career .item, #body .career .description, #body .projects .item, #body .projects .description {
	float: left;
}

#body .career .item, #body .projects .item {
	clear: left;
	width: 150px;
}

#body .career .description, #body .projects .description {
	margin-left: 0;
	width: 560px;
}

#body .projects .tags .tag, #body .contact-me .option {
	display: inline;
	margin: 0 30px 0 0;
}

#body .projects .tag .active {
	color: #ffa;
}

#body .projects .tag .inactive {
	color: #cdc;
}

#footer {
	clear: both;
	height: 50px;
	margin: -50px auto 0;
	padding: 0 0 0 200px;
	position: relative;
	width: 760px;
}

#footer .menu .item {
	display: inline;
	padding: 0 30px 0 0;
}