@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
	margin: 0;
	padding: 0;
}

html {
	background-attachment: fixed;
	background-color: #580;
	background-image: url(../img/simsab.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0 0 50px;
	line-height: 2.0;
}

a, em, strong {
	color: #dfc;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
}

a {
	outline-style: none;
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
}

img {
	border: 0 none;
}

li {
	list-style: none;
}

abbr {
	border-bottom: 1px dotted;
}

#document {
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	width: 860px;
}

#header {
	background-color: #fff;
	height: auto;
	position: relative;
}

#header .box {
	margin: 0 auto;
	padding: 20px 0;
	width: 860px;
}

#logo {
	display: inline;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 400%;
	height: auto;
	line-height: 1;
	width: auto;
}

#logo a {
	color: #580;
}

#header .navigation {
	display: inline;
	margin-left: 100px;
}

#header .menu {
	display: inline;
	margin: 0 auto;
	padding: 0;
	width: auto;
}

#header .menu .item {
	display: inline;
	padding: 0 30px 0 0;
}

#header .menu .item a {
	border-radius: 5px;
	color: #666;
	padding: 5px 10px;
}

#header .menu .item .active {
	background-color: #580;
	color: #fff;
}

#body {
	color: #fff;
	padding: 0 0 30px 0;
}

#body .title {
	color: #bea;
	font-size: 100%;
}

#body .title a {
	color: #dfc;
	font-size: 250%;
	height: 100px;
	line-height: 100px;
	text-shadow: 2px 2px 0 #666;
}

#body .details {
	display: none;
}

#body .external {
	background: url(../img/external.png) no-repeat right 6px;
	padding-right: 14px;
}

#body .bullet {
	list-style-image: url(../img/list-item.png);
	margin-left: 14px;
}

#body .collapse {
	background: url(../img/collapse.png) no-repeat right 6px;
	padding-right: 14px;
}

#body .expand {
	background: url(../img/expand.png) no-repeat right 6px;
	padding-right: 14px;
}

#body .separated:before {
	content: url('../img/separator.png');
	margin-right: 4px;
}

#body .sub-line {
	color: #cdc;
	display: block;
	font-size: 75%;
}

#body .no-wrap {
	white-space: nowrap;
}

#body .clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#body .about-me {
	width: 500px;
}

#body .about-me .picture {
	float: right;
	height: 162px;
	margin: 9px 0 30px 30px;
	width: 142px;
}

#body .about-me .paragraph {
	padding-bottom: 15px;
}

#body .qualities {
	width: 600px;
}

#body .qualities .bullet {
	padding-bottom: 10px;
}

#body .career {
	width: 600px;
}

#body .career .item, #body .career .description {
	padding-bottom: 15px;
}

#body .career .item, #body .career .description, #body .projects .item, #body .projects .description {
	float: left;
}

#body .career .item, #body .projects .item {
	clear: left;
	width: 150px;
}

#body .career .description, #body .projects .description {
	margin-left: 0;
	width: 450px;
}

#body .projects .tags, #body .projects .item, #body .projects .description {
	padding-bottom: 10px;
}

#body .projects .tags .tag {
	display: inline;
	margin: 0 30px 0 0;
}

#body .projects .tags .tag a {
	color: #ffc;
}

#body .projects .tags .tag .active {
	background: url(../img/tag-active.png) no-repeat right 6px;
	padding-right: 14px;
}

#body .projects .tags .tag .inactive {
	background: url(../img/tag-inactive.png) no-repeat right 6px;
	padding-right: 14px;
}

#body .contact-me {
	width: 650px;
}

#body .contact-me .options {
	padding-bottom: 15px;
}

#body .contact-me .options .option .email {
	background: url(../img/email.png) no-repeat left center;
	padding-left: 24px;
}

#body .contact-me .options .option .skype {
	background: url(../img/skype.png) no-repeat left center;
	padding-left: 24px;
}

#body .contact-me .options .option .linkedin {
	background: url(../img/linkedin.png) no-repeat left center;
	padding-left: 24px;
}

#body .contact-me .options .option .xing {
	background: url(../img/xing.png) no-repeat left center;
	padding-left: 24px;
}

#body .contact-me .options .option .facebook {
	background: url(../img/facebook.png) no-repeat left center;
	padding-left: 24px;
}

#body .contact-me .options .option .notmybiz {
	background: url(../img/notmybiz.png) no-repeat left center;
	padding-left: 24px;
}

#footer {
	background-color: #fff;
	bottom: 0;
	height: 50px;
	position: absolute;
	width: 100%;
}

#footer .menu {
	margin: 0 auto;
	padding: 10px 0 19px 0;
	width: 860px;
}

#footer .menu .item {
	color: #000;
	display: inline;
	padding: 0 30px 0 0;
}

#footer .menu .item a {
	color: #666;
}

#body .legal-notice .paragraph {
	padding-bottom: 15px;
}