ErrorDocument 404 http://www.simsab.net

RewriteEngine on

RewriteCond %{HTTP_HOST} simsab\.de$ [NC]
RewriteRule ^(.*)$ http://www.simsab.net/de

RewriteRule ^$ index.php [L]
RewriteRule ^disclaimer/?$ index.php?query=disclaimer&localization=en [L]
RewriteRule ^impressum/?$ index.php?query=disclaimer&localization=de [L]
RewriteRule ^([a-z]{2})/?$ index.php?localization=$1